<!DOCTYPE html>
<html lang="en">
<%- include(`partials/styling`)%>
<body class="main=layout">
    <%- include (`partials/header`, {page: `login`})%>
    <div class="section layout_padding">
        <div class="container">
            <div class="row">
                Login Page
            </div>
        </div>
    </div>
    <%- include(`partials/footer`)%>
        <%- include(`partials/scripts`)%>
</body>
</html>